/* Estilo geral */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #000;
  height: 100vh;
}

.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background-color: #164d91;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

h2.titulo {
  color: #fff;
  font-size: 38px;
  text-align: center;
}

h2.titulo span {
  color: #2277df;
}

.btn-contato button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #2277df;
  transform: scale(1.05);
}

/* Estilo cabeçalho */

.logo img {
  width: 72px;
  height: auto;
  border-radius: 6%;
}

header {
  padding: 40px 4%;
}
header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #7d7d7d;
  text-decoration-line: none;
  display: inline-block;
  transition: 0.2s;
}

header a:hover {
  color: #fff;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
  padding: 0 40px;
}

/* Estilo do topo do site */

section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.topo-do-site h1 {
  color: #fff;
  font-size: 42px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
  color: #2277df;
  font-size: 56px;
}

.topo-do-site .txt-topo-site p {
  color: #fff;
  margin: 40px 0;
}

.img-topo-site img {
  width: 360px;
  height: auto;
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

/* Estilo das especialidades */

.imagem-api img {
  width: 120px;
  height: auto;
}

section.especialidades {
  padding: 40px 4%;
}

section.especialidades .flex {
  gap: 60px;
}

.especialidades .especialidades-box {
  color: #fff;
  padding: 40px;
  margin-top: 45px;
  border-radius: 24px;
  transition: 0.2s;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 12px #ffffff58;
}

.especialidades .especialidades-box h3 {
  font-size: 28px;
  margin: 15px 0;
}

/* Estilo Sobre */

.img-sobre img {
  width: 420px;
  height: auto;
}

section.sobre {
  padding: 40px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 100px;
}

.sobre .txt-sobre {
  color: #fff;
}

.sobre .txt-sobre h2 {
  font-size: 42px;
  line-height: 42px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: #2277df;
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

/* Estilo Portifólio */

section.portifolio {
  padding: 80px;
  box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portifolio .flex {
  justify-content: space-around;
  margin-top: 60px;
}

.img-port {
  width: 360px;
  height: 460px;
  background-size: cover;
  background-position: 100% 0%;
  border-radius: 32px;
  cursor: pointer;
  transition: 5s;
  position: relative;
}

.img-port:hover {
  background-position: 100% 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000e1;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  opacity: 0;
  transition: 0.5s;
}

.overlay:hover {
  opacity: 1;
}

/* ESTILO FORMULARIO */

section.formulario {
  padding: 80px 4%;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}

form input,
form textarea {
  width: 100%;
  background-color: #242424;
  outline: 0;
  border: 0;
  padding: 20px 15px;
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
}

form textarea {
  resize: none;
  max-height: 200px;
}

form .btn-enviar {
  margin-top: 20px;
  text-align: center;
}

form .btn-enviar input {
  width: 120px;
  background-color: #2277df;
  color: #000;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

/* Estilo Rodapé */

.logo-footer img {
  width: 50px;
  height: auto;
  border-radius: 6%;
}

.btn-social img {
  width: 42px;
  height: auto;
  margin-left: 10px;
}

.line-footer img {
  width: 42px;
  height: auto;
}

footer {
  padding: 60px;
  box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .line-footer {
  padding: 20px 0;
}

.borda {
  border-top: 2px solid #2277df;
}

footer .flex {
  justify-content: space-between;
  display: flex;
}

footer .line-footer a {
  color: #fff;
  font-size: 18px;
  justify-content: center;
}

.line-footer.flex.borda {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.line-footer.flex.borda img {
  margin-right: 10px;
}

.line-footer.flex.borda p {
  margin: 0;
}

.direitos {
  color: #fff;
  font-size: 12px;

}
